{% extends "todo_app/base.html" %}

{% block title %}
  ABOUT PAGE
{% endblock title %}

{% block content %}

    <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3"><center>TO-DO LIST</center></h1><br>
        <p class="lead"><center>You can take notes and stop forgetting your duties on this site.</center></p>
        <p class="lead"><center>Whenever you take note of the task it will never be forgotten :)</center></p>
        <p class="lead"><center>There is also a button where you can change and refresh the purpose of the mission you haven't fully completed.</center></p>
        <p class="lead"><center>When you complete your regular tasks, cross them out. If it is a one-time task, delete it completely.</center></p>
        <p class="lead"><center>You can take a quick note in the upper right corner.</center></p>
    </div>
  </div>
        <br>
        <p class="lead"><center>contact us: facar7711@gmail.com</center></p>
        <p class="lead"><center> <a href="mailto:facar7711@gmail.com">Send mail</center></a></p>
        <p class="lead"><center>2020 © Copyright</center></a>
        

{% endblock content %}